<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.sendBox.searchVideoAPI.search.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/xml/mapper/SearchMapper.xml"/>
    </mappers>
</configuration>